{{- $host := and (not .develop) (not .needs_opencode) -}}
{{- if $host }}
format = "$directory$git_branch$git_status$line_break$character"
{{- else }}
format = "[VM](bold black bg:yellow)$directory$git_branch$git_status$line_break$character"
{{- end }}

[character]
{{- if $host }}
 success_symbol = "[>](bold green)"
 error_symbol = "[>](bold red)"
{{- else }}
 success_symbol = "[{{ if and .develop .needs_opencode }}dev+agent{{ else if .develop }}dev{{ else }}agent{{ end }}>](bold yellow)"
 error_symbol = "[{{ if and .develop .needs_opencode }}dev+agent{{ else if .develop }}dev{{ else }}agent{{ end }}!](bold red)"
{{- end }}
