{{- $host := not .develop -}}
{{- $darwin := eq .chezmoi.os "darwin" -}}
{{- $needsNeovim := .develop -}}
{{- $needsTaskwarrior := false -}}
{{- if hasKey . "needs_neovim" }}{{- $needsNeovim = .needs_neovim }}{{- end }}
{{- if hasKey . "needs_taskwarrior" }}{{- $needsTaskwarrior = .needs_taskwarrior }}{{- end }}

{{- if not $host }}
.local/bin/,dev
.local/bin/,create-vm
.local/bin/,sync-jfrog-to-vm
.config/ghostty
.config/ghostty/**
.config/wezterm
.config/wezterm/**
.config/zsh/rc.d/05_homebrew
.config/zsh/rc.d/10_java
{{- end }}

{{- if $host }}
.ssh/config
.npmrc
.yarnrc
.yarnrc.yml
{{- end }}

{{- if not $darwin }}
.config/zsh/rc.d/05_homebrew
.config/zsh/rc.d/10_java
Library/Application Support/lazygit/config.yml
{{- end }}

{{- if not .needs_opencode }}
.config/opencode
.config/opencode/**
{{- end }}

{{- if not $needsTaskwarrior }}
.taskrc
.taskrc.d
.taskrc.d/**
.local/bin/,task-popup
{{- end }}

{{- if not $needsNeovim }}
.config/zsh/rc.d/30_nvim
{{- end }}
