// ~/.config/zellij/layouts/dev.kdl

layout {
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }

    pane split_direction="vertical" {
        pane name="hx" command="hx" focus=true
        pane name="shell"
    }
}
