// ~/.config/zellij/config.kdl

theme "catppuccin-mocha"

simplified_ui true
pane_frames false
default_mode "locked"
copy_on_select true
scrollback_editor "hx"
mouse_mode true
session_serialization false
show_startup_tips false
web_server false
web_sharing "off"
default_layout "default"

plugins {
   compact-bar location="zellij:compact-bar" {
     tooltip "?"
   }
}

keybinds {
    unbind "Ctrl g"

    normal {
        bind "Alt g" {
            Run "lazygit" {
                floating true
                x "7%"
                y "7%"
                width "86%"
                height "86%"
                close_on_exit true
            }
            SwitchToMode "Locked"
        }
        bind "Alt e" {
            Run "yazi" {
                floating true
                x "7%"
                y "7%"
                width "86%"
                height "86%"
                close_on_exit true
            }
            SwitchToMode "Locked"
        }
        bind "Alt r" {
            Run "scooter" {
                floating true
                x "7%"
                y "7%"
                width "86%"
                height "86%"
                close_on_exit true
            }
            SwitchToMode "Locked"
        }
        bind "Alt x" { CloseFocus; SwitchToMode "Locked"; }
        bind "Alt q" { CloseTab; SwitchToMode "Locked"; }
        bind "Alt z" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "Alt v" { NewPane; TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
        bind "Alt n" { NewPane; SwitchToMode "Locked"; }
        bind "Alt -" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "Alt \\" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "Alt h" { MoveFocus "Left"; SwitchToMode "Locked"; }
        bind "Alt j" { MoveFocus "Down"; SwitchToMode "Locked"; }
        bind "Alt k" { MoveFocus "Up"; SwitchToMode "Locked"; }
        bind "Alt l" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "Alt t" { NewTab; SwitchToMode "Locked"; }
        bind "Alt 1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "Alt 2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "Alt 3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "Alt 4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "Alt 5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "Alt 6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "Alt 7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "Alt 8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "Alt 9" { GoToTab 9; SwitchToMode "Locked"; }
    }

    locked {
        bind "Alt a" { SwitchToMode "Normal"; }
        bind "Alt g" {
            Run "lazygit" {
                floating true
                x "7%"
                y "7%"
                width "86%"
                height "86%"
                close_on_exit true
            }
        }
        bind "Alt e" {
            Run "yazi" {
                floating true
                x "7%"
                y "7%"
                width "86%"
                height "86%"
                close_on_exit true
            }
        }
        bind "Alt r" {
            Run "scooter" {
                floating true
                x "7%"
                y "7%"
                width "86%"
                height "86%"
                close_on_exit true
            }
        }
        bind "Alt x" { CloseFocus; }
        bind "Alt q" { CloseTab; }
        bind "Alt z" { ToggleFocusFullscreen; }
        bind "Alt v" { NewPane; TogglePaneEmbedOrFloating; }
    }

    shared_except "locked" {
        bind "Alt a" { SwitchToMode "Locked"; }
    }
}
