{{- if or .develop .needs_opencode }}
Host github.com
	User git
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes

Host source.xing.com
	User git
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes
{{- end }}
